# IMPORTANDO BIBLIOTECAS
___________________________________________________________________________________________________________________________

In [1]:
#Para trabalhar com funções de janela.
#Funções de utilitário para definir a janela em DataFrames.
from pyspark.sql.window import Window
#-----------------------------------------------------------

#Lista de funções internas disponíveis para DataFrame.
import pyspark.sql.functions as F
#-----------------------------------------------------------

# Lista de tipos de dados disponíveis.
from pyspark.sql.types import DateType
#-----------------------------------------------------------

from pyspark.sql import SparkSession


from time import gmtime, strftime
# strftime("%Y-%m-%d %H:%M:%S ", gmtime()) ---

Starting Spark application

SparkSession available as 'spark'.

___________________________________________________________________________________________________________________________
# EXEPLO DE CSV

NOME: " teste "
___________________________________________________________________________________________________________________________

1,RSHXUOXMHKZVTULSHCLNJ,97.8471
2,WJREFAVGPVBTQGDSEX,75.8414
3,GKJIOFDHO,56.7221
4,LGDONPRSQNPCPTSMNKM,23.2679
5,AMRKLGTX,24.4633
6,MCCFPSZWQXOZKY,21.6109
7,PCFNLQYLHVYP,14.9556
1,RINVUMMKGDJI,25.5151
2,ZSELIOHBTONPHV,31.439
3,SYJBEKGNWXYG,58.3483
4,LGANFUQIERGI,43.4005
5,FYYDBJMDIAVK,94.7483
6,FLLTGAFISAMTVTB,96.0267
7,FFXVCOCI,57.5802
1,CAMHGDSQEQTEDSFNFDEWDQ,58.5843
2,SDPWNOA,51.448
3,KZGRFQSYYUACONEBRGPDNUEA,79.106
4,WGOEJYEXDUZYZNLAP,59.3326
5,CPSYTYFFSHGOGXELRNXS,65.452
6,EGWDWTBWGBUGABJMI,14.1573
7,ENDPURXMDD,72.0176

#  CSV PARA DATAFRAME
___________________________________________________________________________________________________________________________
DEFINIR DADOS DO CSV COMO DATAFRAME

In [10]:
df = spark.read.format('csv').load('wasb://keyrus@estagiando.blob.core.windows.net/HdiNotebooks/Lucas Donato/testeDonato.csv')

# SELECT
___________________________________________________________________________________________________________________________

MOSTRE A PRIMEIRA E A ULTIMA COLUNA.

In [ ]:
df.select("_c0","_c2").show()

MOSTRE OS ELEMENTOS DA PRIMEIRA COLUNA QUE ESTÃO ENTRE 1 E 5.

In [ ]:
df.select(df._c0.between(1, 5)).show()

MOSTRE QUANTOS ELEMENTOS TERMINAM COM A LETRA "P"

In [ ]:
df.select(df._c1.endswith("P")).show()

ORDENE O DATAFRAME PELA PRIMEIRA COLUNA EM ORDEM CRESCENTE

In [ ]:
df.sort("_c0", ascending=True).show()

ORDENE O DATAFRAME PELA PRIMEIRA COLUNA EM ORDEM DECRESCENTE, EXBINDO COM PANDAS.

In [ ]:
df.sort("_c0", ascending=False).toPandas()

RETORNA O NOME DAS COLUNAS

In [ ]:
df.columns

Retona o número de Linhas do DF

In [ ]:
df.count()

DADOS ESTATÍSTICOS SOBRE O DATAFRAME



----------------------------------------------------
    COUNT:  Contagem de LinhasCONTAGEM DE LINHAS
    MEAN:   Média
    STDDEV: Desvio Padrão, Variancia
    MIN:    Valor Mínimo do DataFrame
    MAX:    Valor Máximo do DataFrame

In [ ]:
df.describe().show()

 INFORMAÇÕES SOBRE O DATAFRAME



----------------------------------------------------
    Batched:  Em Lote
    Format:   Formato
    Location: Localização do Arquivo

In [ ]:
df.explain()

EXIBIÇÃO DO DATAFRAME COM PANDAS

In [ ]:
df.toPandas()

___________________________________________________________________________________________________________________________

# RENOMEAR
___________________________________________________________________________________________________________________________
RENOMEIA UMA COLUNA.

INFORME O NOME ATUAL DA COLUNA E O NOME NOVO DA COLUNA.

In [13]:
df = df.withColumnRenamed('_c0', 'Number')
df = df.withColumnRenamed('_c1', 'Name')
df = df.withColumnRenamed('_c2', 'Value')

___________________________________________________________________________________________________________________________

# EXCLUIR
___________________________________________________________________________________________________________________________
ELIMINANDO UMA COLUNA

In [14]:
df = df.drop("Name")

In [ ]:
df = df.drop(df.Number)

___________________________________________________________________________________________________________________________

# ADCIONAR
___________________________________________________________________________________________________________________________
ADCIONANDO UMA COLUNA

CRIA UMA NOVA COLUNA COM NOME DE NUMERO E ATRIBUI OS
VALORES DA COLUNA NUMBER

In [ ]:
df = df.withColumn('numero',df.Number)

CRIA UMA NOVA COLUNA COM NOME DE ADRESS COM VALOR ZERADO

"F = import pyspark.sql.functions as F (Lista de funções internas disponíveis para DataFrame)"

In [ ]:
df = df.withColumn('adress', F.lit(0))

CRIA UMA NOVA COLUNA COM NOME DE DATA COM VALOR DATA

" data = strftime("%Y-%m-%d", gmtime()) "

In [ ]:
df = df.withColumn('tempo', F.lit(data))

___________________________________________________________________________________________________________________________
# DATAFRAME PARA CSV
___________________________________________________________________________________________________________________________
EXEMPLOS DE CÓDIGO PARA SALVAR UM DATAFRAME PARA UM CSV

1ª FORMA DE SALVAR DATAFRAME PARA CSV

In [ ]:
df.write.format('com.databricks.spark.csv').save('wasb://keyrus@estagiando.blob.core.windows.net/HdiNotebooks/Lucas Donato/mycsv.csv')

2ª FORMA DE SALVAR DATAFRAME PARA CSV

In [ ]:
df.write.csv('wasb://keyrus@estagiando.blob.core.windows.net/HdiNotebooks/Lucas Donato/mycsv.csv')

___________________________________________________________________________________________________________________________
# STRING PARA DOUBLE (FLOAT)
___________________________________________________________________________________________________________________________
CONVERTENDO STRING DA COLUNA Value PARA DOUBLE

In [ ]:
df = df.withColumn("Value", df["Value"].cast(DoubleType()))

___________________________________________________________________________________________________________________________
# SOMAR
___________________________________________________________________________________________________________________________
SOMAR TODAS AS COLUNAS E CRIAR UMA NOVA CHAMADA TOTAL.

É REALIZADO A SOMA DE CADA LINHA DE TODAS AS COLUNAS.

In [ ]:
df = df.withColumn('Total', sum(df[col] for col in df.columns))